
<div class="container">
    <h1 class="heading">My Works</h1>
    <div class="work-list">
        <div class="work">
            <img src="https://i.postimg.cc/MKcwgmV7/Screenshot-2023-10-05-080516.png" alt="">
            <div class="layer">
                <h3>Tasks App</h3>
                <p>Angular CRUD application developed using Html, CSS, JS. people can add their important tasks to remind according to the priorities and delete it accordingly</p>
                <a href="https://github.com/sreeharisrikmr/Tasks-todo.git"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="work">
            <img src="https://i.postimg.cc/hPTfmnvQ/Screenshot-2023-10-05-082024.png" alt="">
            <div class="layer">
                <h3>Bank App</h3>
                <p>Angular Banking app build using MEAN</p>
                <a href="https://github.com/sreeharisrikmr/BankAPP.git"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="work">
            <img src="https://i.postimg.cc/QCRNz3GR/Screenshot-2023-10-05-090609.png" alt="">
            <div class="layer">
                <h3>E cart</h3>
                <p>Angular Online shopping website project build using MEAN.</p>
                <a href="https://github.com/sreeharisrikmr/EShoppingCart.git"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
        
    </div>
    <a class="btn" href="">load more</a>
</div>
