*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat',sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
}

nav{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: var(--primary-color);
}
nav img{
    margin-right: 450px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    
}
nav ul li a:hover{
    color: rgb(199, 126, 57);
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(199, 126, 57);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.info {
    padding-top: 220px;
    padding-left: 100px;
    background-color: var(--primary-color);
  
  }
  .info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
  span{
    color: rgb(199, 126, 57);
  }
  .info p{
    color: #606163;
    line-height: 22px;
  }
  .info a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 10px;
  }
 .heading{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
  }

  