<div class="info">
    <h1>Hi, <br>
        I am <span>SREEHARI</span> SRIKUMAR </h1>
    <p>This is my official website to showcase my works and information about the services i provide</p>
    <a href="https://drive.google.com/file/d/1XTlCTXBBEeJNQ5wOv5ICWxmPzxP3XdMe/view?usp=drive_link"  attributes-list download target="_">Download CV</a>
</div>

<div id="aboutme" class="about-container">
    <h1 class="heading">About Me</h1>
    <div class="row">
        <div class="about-col1">
            <p>An Engineer who loves to build things for the web.
                I am very passionate about building things, give a life to concepts /
                ideas and make it accessible over the web. I love spending time coding
                and encountering new challenges. I'm highly adaptable to new challenges
                and projects.</p>
        </div>
        <div class="about-col2">
            <img src="https://i.postimg.cc/R0kTvJs9/hariimage.png" alt="">
        </div>
    </div>
</div>
