<div class="services">
    <h1 class="heading">SERVICES</h1>
    <div class="container">
        <div class="services-list">
            <div>
                <h2>Front-end Web Development</h2>
                <p>Our front-end development team understands your business objectives and creates top-notch solutions
                    that
                    meet your needs leveraging the best front-end development technologies and practices.</p>
                <a href="">Learn more</a>
            </div>
            <div>
                <h2>Back-end Web Development</h2>
                <p>If you need backend services,we can help you build scalable APIs using NodeJS, Hopefully, our list of
                    backend development services will help you find the right solution.</p>
                <a href="">Learn more</a>
            </div>
            <div>
                <h2>Web Hosting</h2>
                <br><br>
                <p>We are passionate about helping entrepreneurs make well informed decisions about their startups and
                    new
                    ventures using our sector neutral expertise.</p>
                <br>
                <a href="">Learn more</a>
            </div>
        </div>
    </div>
</div>

